.about {
  background-color: black;
  width: 100%;
  align-items: center;
  font-family: "inter";
  color: white;
  flex-direction: column;
}

.about h2 {
  font-size: 70px;
}

.about p{
  font-size: 30px;
}

.headshot {
  padding: 10px;
  height: auto;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: black;
  margin-bottom: 20px;
}

.skills .list {
  list-style: none;
  width: 100%;
  max-width: 600px; 
}

.list span {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}


